<!-- your html code here -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>contact</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/6e04df82a0.js" crossorigin="anonymous"></script> 
    </head>
    <br>
    <body>
    <div class="container">
        <h3 >What kind a pirate will you be?</h3>
        <br>
        <p>¡ You can <strong>READ</strong> or <strong>WHATCH</strong> this special story of Luffy and his Nakamas !</p>
        <p>Tell us what path you gonna choose to find the ONE PIECE and become the <strong>PIRATE KING</strong> 
        <br>
        <br>
        <div class="row justify-content-center">
            <div class="col-4">
                <img src="https://th.bing.com/th/id/R.b13ca71e5f646f6fc5601d2cf0032ec5?rik=R6uJdjLC3XJigQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-Z7xwV1hToqM%2fTsa4dzDpRGI%2fAAAAAAAAAIc%2fH5nVXeVqv_Q%2fs320%2fsombrero_de_paja.jpg&ehk=5uOcZVoYeoqtsnozEhw6mJMnItTriRAPJ7Z3NT8uQdM%3d&risl=&pid=ImgRaw&r=0" class="img-fluid background-img"git alt="img">
            </div>
            <form class="col-4" >
                
               <div class="form-floating mb-3">
                <input type="email" class="form-control" id="Correo" placeholder="email">
                <label for="Correo">YOUR E-MAIL</label>
               </div>
               <div class="form-floating">
                <textarea class="form-control" placeholder="Comentarios" id="Comentario" style="height: 150px"></textarea>
                <label for="Comentario">Tell us your story</label>
               </div>
               <br>
               <button class="btn bg-danger" data-bs-toggle="modal" data-bs-target="#Win"><strong>Submit</strong></button>
               
            </form>
    </div>
            
