<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        .thumbnail {
            position: relative;
        }

        .caption {
            position: absolute;
            top: 45%;
            left: 0;
            width: 100%;
        }
    </style>
  <!-- styles link-->
  <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="row">
        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="https://4geeks.com/">4Geeks Academy</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Integrantes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item text-danger" href="#">Manuel Villate</a></li>
                          <li><a class="dropdown-item text-warning" href="#">Agustin Fuenzalida</a></li>
                          <li><a class="dropdown-item text-info" href="#">Julio Espinoza</a></li>
                          
                        </ul>
                      </li>
                      <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Movies
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item text-danger" href="https://en.wikipedia.org/wiki/One_Piece_(film)">One Piece (film)</a></li>
                          <li><a class="dropdown-item text-danger" href="https://www.imdb.com/title/tt0832449/">Clockwork Island Adventure</a></li>
                          <li><a class="dropdown-item text-danger" href="https://www.imdb.com/title/tt0997084/">Chopper's Kingdom on the Island of Strange Animals</a></li>
                          <li><a class="dropdown-item text-danger" href="https://myanimelist.net/anime/462/One_Piece_Movie_04__Dead_End_no_Bouken">One Piece The Movie: Dead End no Bōken</a></li>
                          <li><a class="dropdown-item text-danger" href="https://www.imdb.com/title/tt1010435/">The Cursed Holy Sword</a></li> 
                          <li><a class="dropdown-item text-danger" href="https://www.imdb.com/title/tt1018764/?ref_=fn_al_tt_1">Baron Omatsuri and the Secret Island</a></li>
                          <li><a class="dropdown-item text-danger" href="https://www.imdb.com/title/tt1059950/?ref_=nv_sr_srsg_0">Giant Mecha Soldier of Karakuri Castle</a></li>
                          <li><a class="dropdown-item text-danger" href="https://www.imdb.com/title/tt1037116/?ref_=nv_sr_srsg_0">The Desert Princess and the Pirates: Adventures in Alabasta</a></li>
                          <li><a class="dropdown-item text-danger" href="https://www.imdb.com/title/tt7947592/?ref_=nv_sr_srsg_0">One Piece Film: Strong World</a></li>
                          <li><a class="dropdown-item text-danger" href="https://www.imdb.com/title/tt1865467/?ref_=nv_sr_srsg_0">Straw Hat Chase</a></li>
                          <li><a class="dropdown-item text-danger" href="https://www.imdb.com/title/tt2375379/?ref_=nv_sr_srsg_0">One Piece Film: Z</a></li>
                          <li><a class="dropdown-item text-danger" href="https://www.imdb.com/title/tt5251328/?ref_=nv_sr_srsg_0">One Piece Film: Gold</a></li>
                          <li><a class="dropdown-item text-danger" href="https://www.imdb.com/title/tt9430698/?ref_=nv_sr_srsg_0">One Piece: Stampede</a></li>
                          <li><a class="dropdown-item text-danger" href="https://www.imdb.com/title/tt16183464/?ref_=nv_sr_srsg_0">One Piece Film: Red</a></li>
                          
                          
                        </ul>
                      </li>                      
                
                </ul>
                
              </div>
            </div>
          </nav>
    </div>
    
    
     
    
</body>